.expansion-panel-summary {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.expansion-panel-details {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.expansion-panel {
    width: 100%;
}


