.tabular-menu {
  display: none !important;
}

@media screen and (max-width: 960px) {
  .tabular-menu {
    display: flex !important;
    flex-wrap: wrap;
  }

  .vertical-menu {
    display: none !important;
  }
}
