

.body-container {
    padding-top: 100px;
}

.login-page{
    width: 100vh;
}

.vertical-menu-sibling{
    margin: 20px;
}

@media screen and (max-width: 991px) {
    .body-container {
        padding-top: 65px;
    }

    
  }

@media screen and (min-width: 992px) and  (max-width: 1073px) {
    .body-container {
        padding-top: 150px;
    }

    
  }

@media screen and (min-width: 1074px) and (max-width: 1098px) {
    .body-container {
        padding-top: 140px;
    }

    
  }

@media screen and (min-width: 1099px) and ( max-width: 1243px) {
    .body-container {
        padding-top: 120px;
    }


  }