.order-details-column {
    position: sticky;
    position: -webkit-sticky;
    top: 65px;
    width: 100%;
}

.order-history-list {
    display: flex;
    padding: 0 15px;
    justify-content: space-around;
}