.details-container{
    display: flex;
    justify-content: center;
    padding-top: 60px;  
    font-family: 'Hind', sans-serif;
}
.product-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 5%;
    padding-bottom: 1%;
    align-items: center;
    background-color: rgba(224, 221, 221, 0.349);
    -webkit-box-shadow: 2px 2px 3px 4px rgba(204, 204, 204, 0.781);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 4px rgba(204, 204, 204, 0.781);;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 4px rgba(204, 204, 204, 0.781);; 
}
.product-img-n-price{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.product-image {
    width: 50%;
    height: 250px;
}

.product-specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: baseline;
}
.spec{
    align-self: baseline;
}
.icon-container-details{
   
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
#prod-img-details{
    max-width: 400px ;
    background-color: rgba(224, 221, 221, 0.349);
    -webkit-box-shadow: 2px 2px 3px 4px rgba(204, 204, 204, 0.781);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 4px rgba(204, 204, 204, 0.781);;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 4px rgba(204, 204, 204, 0.781);; 
}

.product-form-container {
    width: 50%;
    margin: 10px;
    padding: 10px;
    margin: 15px auto;
}

.product-form-page {
    /* display: flex; */
    width: 100%
}
.product-form {
    width: 100%;
}
.error-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.error-image{
    margin-bottom: 20px;
}